body {
  background-color: rgba(221, 219, 219, 0.986);
  font-size: 24px;
  font-family: sans-serif;
  text-align: center;
}
h2 {
  font-size: 150%;
  margin-top: 8rem;
}
a,
a :visited,
a:active,
a:hover {
  text-decoration: none;
  color: #ffffff;
}

header {
  margin: auto;
  text-align: center;
  width: 50%;
}
.container {
  display: flex;
  flex-direction: column;
  width: 30%;
  background-color: #ffffff;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 1rem;
}
.subjects {
  display: flex;
  justify-content: center;
  margin: 0.7rem 0 0.7rem 0;
}
.theFooter {
  margin-bottom: 150px;
}
